#header-nav-left{
	float: right;
}

#page-header .user-account-btn .dropdown-menu {
    padding-bottom: 0;
    top: 39px;
    left: -157px;
}

#page-header .user-account-btn .dropdown-menu:after, #page-header .user-account-btn .dropdown-menu:before {
    left: 94%;
    margin-left: -3px;
}

#header-nav-left{
	float: right;
}

#page-header .user-account-btn .dropdown-menu {
    padding-bottom: 0;
    top: 39px;
    left: -157px;
}

#page-header .user-account-btn .dropdown-menu:after, #page-header .user-account-btn .dropdown-menu:before {
    left: 94%;
    margin-left: -3px;
}

.default-button{
	float: left;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
		word-wrap: break-word;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
		word-wrap: break-word;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
		word-wrap: break-word;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
		word-wrap: break-word;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}


.text-align-left label{
	text-align: left !important;
}

.text-area0{
	height:88px !important;
}

.upload-image{
	float: left;
    border: 1px solid #2d0f0f;
    padding: 5px;
}
.radio-btn-click{
	float: left;
	margin-right: 10px;
	margin-left: 7px;
}

#disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }

.left-align{
	margin-left:10px;
}

.modal-attr{
	background: #fff;
    max-width: 50%;
    margin-left: 25%;
    max-height: 205px;
    margin-top: 10%;
		border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 3px 9px !important;
		border:1px solid rgba(0, 0, 0, .2);
}
.error{
	color:red;
}
.title-rgt{
	text-align: right;
}

.mdl-box{
	z-index: 1 !important;
	/*opacity: 0 !important;*/
}

/*added css for dropdown on users */
.login-box {
padding: 10px 15px;
text-align: center;
}

.login-box .user-img {
position: relative;
float: left;
width: 80px;
height: 80px;
margin-right: 15px;
}

.login-box .user-img a.change-img {
font-size: 8px;
line-height: 20px;
position: absolute;
bottom: 0;
left: 0;
display: none;
width: 100%;
height: 20px;
text-align: center;
text-transform: uppercase;
color: #fdfdfd;
background: rgba(0,0,0,.7);
}

.login-box .user-img img {
width: 100%;
height: 100%;
}

.login-box .user-info span {
font-size: 17px;
display: block;
padding: 0 0 10px;
}

.login-box .user-info span i {
font-size: 80%;
font-style: normal;
display: block;
opacity: .7;
}

.login-box .user-info a {
line-height: 16px;
display: inline-block;
height: 16px;
margin-right: 5px;
padding-right: 5px;
}

.require:after {
    content: '*';
    color: red;
}

.pdn-left{
    padding-left: 0;
}

.pdn-right{
    padding-right: 0;
}
/*added css for dropdown on users */

.toast{ position:fixed; list-style: none; padding: 0; bottom:0; width:100%; z-index: 999999; font-family:"Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif; }
.toast li{ display:block; text-align: center; }
.toast span { display: inline-block; margin: 5px 0 0 0; text-align: center; background-color: rgba(0, 0, 0, 0.8); color:#ffffff; padding:10px 10px; border-radius: 8px; -webkit-border-radius: 8px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); box-shadow: 0 2px 5px rgba(0,0,0,.15); -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.15);  }
.toast li.danger span{ color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }
.toast li.info span{ color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1; }
.toast li.success span{ color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }


/*modal box*/

.modal-backdrop {
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.custom-model{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0, 0, 0, 0.6);
}

/*modal box end*/



